# Buoi3

# bai1

In [ ]:
n=int(input())
res=0
while n!=0:
	res=res*10+(n%10)
	n//=10

In [ ]:
print(res)

# bai10

In [ ]:
a=input()
b=input()
c=input()
d=input()

In [ ]:
print(max(a, b, c, d))

# bai11

In [ ]:
a, b, c=map(int, input().split())

In [ ]:
if (a+b>c) and (a+c>b) and (b+c>a):
	if(a==b==c): 
		print('Tam giac deu')
	elif (a==b) or (a==c) or (b==c):
		print('Tam giac can') 
	else: 
		print('Tam giac thuong')
else: print('Khong phai tam giac')

# bai12

In [ ]:
n=int(input())
if(n%4==0) and (n%100!=0):
	print('Yes')
elif(n%400==0):
	print('Yes')
else: print('No')

# bai13

In [ ]:
def electro(x):
	p1=50*1500 
	p2=50*2000
	if(x>=0) and (x<=50): return 1500*x
	elif(x>=51) and (x<=100): return p1+(x-50)*2000
	else: return p1+p2+(x-100)*3000

In [ ]:
x=int(input())
print(electro(x))

# bai14

In [ ]:
a, b=map(float, input().split())

In [ ]:
if(a==0):
	if(b==0): print("Vo so nghiem")
	else: print("Vo nghiem")
else:
	res=b/a
	print('%.2f' % res)

# bai15

In [ ]:
a=float(input())

In [ ]:
if(a>=8.0): print('Gioi')
elif(a>=6.5): print('Kha')
elif(a>=5.0): print('Trung binh')
else: print('Yeu')

# bai16

In [ ]:
a=float(input())
tmp=int(a)

In [ ]:
if(a<0):
	b=(-a)*10
else: b=a*10
du=b%10

In [ ]:
if(du==0): print(tmp, tmp, tmp)
else:
	
	if (a>0): print(int(a+1))
	else: print(int(a-1))
	print(int(a))
	if(du>=5): 
		if(a>0):print(int(a+1))
		else: print(int(a-1))
	else: print(int(a))

# bai2

In [ ]:
a, b=map(int, input().split())
a=a^b
b=b^a
a=a^b
print(a, b)

# bai3

In [ ]:
import sys
n=int(input())
if n==0:
	print('False')
	sys.exit()
if n&(n-1)==0:
	print('True')
else:
	print('False')

# bai4

In [ ]:
m, n=map(int, input().split())
print(m//n)

# bai5

In [ ]:
from math import *

In [ ]:
m, n=map(int, input().split())
print(ceil(m/n))

# bai6

In [ ]:
x=int(input())
if x&1==0:
	print('Even')
else: print('Odd')

# bai7

In [ ]:
a, b=map(int, input().split())
if (a<0) and (b<0):
	print('Yes')
else: print('No')

# bai8

In [ ]:
a=input()
b=input()

In [ ]:
if len(a)>len(b):
	print("True")
else: print('False')

# bai9

In [ ]:
a, b, c=map(int, input().split())
if (a+b>c) and (a+c>b) and (b+c>a):
	print('Yes')
else: print('No')